@media (max-width: 1024px) {
  .header_images {
    width: 80%;
  }
}

@media (max-width: 980px) {
  .services {
    padding-top: 260px;
  }

  .services_inner {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .services_content {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .services_item {
    margin: 0 auto 12px;
  }
}

@media (max-width: 900px) {
  .header_phone {
    font-size: 24px;
    line-height: 36px;
  }

  .header_title {
    font-size: 54px;
    line-height: 74px;
  }

  .header_subtitle {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .header_link {
    margin-bottom: 53px;
  }

  .benefits_inner {
    flex-direction: column;
  }

  .benefits_images {
    display: none;
  }

  .benefits_content-title {
    margin-left: 0;
  }

  .benefits_list {
    background: none;
    color: #000;
  }

  .benefits_item {
    width: 100%;
    margin-bottom: 20px;
  }

  ul.benefits_list {
    padding: 25px 0 25px 30px;
  }
  .benefits {
    margin-bottom: 50px;
  }

  .contacts_inner {
    flex-direction: column;
    flex-wrap: wrap;
  }
}


@media (max-width: 870px) {
  .slick-dots li {
    margin: 0 10px 0 0;
  }
}

@media (max-width: 800px) {
  .contacts_form-input {
    margin: 0 auto 20px;
  }

  .contacts_form-title {
    text-align: center;
  }

  ul.benefits_list {
    padding: 25px 0 25px 0;
    text-align: center;
  }
}


@media (max-width: 640px) {
  .footer_inner {
    flex-direction: column;
  }

  .footer_logo {
    margin-bottom: 30px;
  }

  .footer_list {
    margin-bottom: 30px;
  }

  .title::after {
    width: 40px;
  }
}

@media (max-width: 600px) {
  .header_content {
    text-align: center;
  }

  .header_list {
    margin-left: 0;
    justify-content: center;
  }

  .header_images {
    display: none;
  }

  .services {
    padding-top: 100px;
  }

  .contacts_form-input {
    width: 300px;
    height: 50px;
  }

  .contacts_form {
    padding: 30px 20px 24px;
  }

  .contacts_form-title {
    margin-left: 0;
  }
}

@media (max-width: 520px) {
  .header_link {
    margin-bottom: 30px;
  }

  .header_inner {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .header_content {
    padding-top: 60px;
  }

  .header_logo {
    margin-bottom: 20px;
  }

  .header_images {
    position: static;
    width: 100%;
    display: block;
  }

  .header_list {
    margin-bottom: 20px;
  }

  .services_item {
    width: 351px;
    padding: 10px 15px 10px 75px;
  }

  .title {
    font-size: 27px;
    line-height: 45px;
    margin-bottom: 25px;
  }

  .services_btn--decor::after {
    display: none;
  }

  .services_btn--decor::before {
    display: none;
  }

  .services_item:hover {
    display: none;
  }

  .services_item:hover .services_item-title {
    display: none;
  }

  .services_item:hover::before {
    display: none;
  }

  .carousel {
    display: none;
  }
}


@media (max-width: 400px) {
  .services_item {
    width: 290px;
  }
}


@media (max-width: 320px) {
  .contacts_form-input {
    width: 260px;
  }
}

